[Desktop Entry]
Encoding=UTF-8
Name=Link to Animação da função PUSH para Stacks dinâmicas e estáticas
Type=Link
URL=https://tinyurl.com/wq54cfw
Icon=text-html
